@page "/getintouch"

<div class="text-center border my-5 ">
    <div class="display-6">Contact</div>
        <div class="lead">
            <i class="fa fa-phone text-primary my-3"></i>
            <p>Bize Ulaşın</p>
            <i class="fa-solid fa-address-book text-primary my-3"></i>
            <p>Çankaya/ANKARA</p>
            <i class="fa-solid fa-envelope text-primary my-3"></i>
            <p>elvantektass@gmail.com</p>
        </div>
</div>
